@font-face {
    font-family: 'surf';
    src: url('fonts/surfing_capital.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'gobold';
    src: url('fonts/GoboldRegular.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'gobold';
    src: url('fonts/GoboldLowplus.otf');
    font-weight: 150;
}
@font-face {
    font-family: 'gobold';
    src: url('fonts/GoboldThin.otf');
    font-weight: 100;
}

body{
    background-color: #ebeae5;
}



.navStyle{
  background-color: #75c8cc;
  position: fixed;
  top: 0px;
}

.searchBar{
  width: 30%;
  color: #ffffff;
  font-family: gobold;
  font-weight: 150;
  font-size: 20px;
}

.navLink{
    font-family: gobold;
    font-weight: normal;
    font-size: 18px;
}

.titleStyle{
   color: #ffffff;
   font-family: surf;
   font-size: 59px;
   position: fixed;
   width: 40%;
   top: -12px;
   left: 30%;
   text-align: center;
 }

 .footStyle{
   background-image: url(images/footer2.png);
   background-color:  inherit;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   margin-top: 10%;
   padding-top: 4%;
   font-family: gobold;
   font-weight: 150;
 }

.c1{
  color: #f3bbae;
}

.c2{
  color: #fcdccf;
}

.c3{
  color: #ebeae5;
}
